
.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 60vw;
  overflow: hidden;
}

.plane {
  width: 30vw;
  height: 30vw;
  transform-style: preserve-3d;
}

.plane.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(60deg) rotateZ(-30deg);
  animation: rotate 40s infinite linear;
}

.circle {
  width: 30vw;
  height: 30vw;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px hsl(var(--primary)), inset 0 0 60px hsl(var(--primary));
}

.circle::before,
.circle::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: hsl(var(--primary));
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px hsl(var(--primary));
}

.circle::before {
  transform: translateZ(-22.5vw); /* 30vw * 0.75 */
}

.circle::after {
  transform: translateZ(22.5vw); /* 30vw * 0.75 */
}

.circle:nth-child(1) { transform: rotateZ(calc(1 / 6 * 360deg)) rotateX(63.435deg); }
.circle:nth-child(2) { transform: rotateZ(calc(2 / 6 * 360deg)) rotateX(63.435deg); }
.circle:nth-child(3) { transform: rotateZ(calc(3 / 6 * 360deg)) rotateX(63.435deg); }
.circle:nth-child(4) { transform: rotateZ(calc(4 / 6 * 360deg)) rotateX(63.435deg); }
.circle:nth-child(5) { transform: rotateZ(calc(5 / 6 * 360deg)) rotateX(63.435deg); }
.circle:nth-child(6) { transform: rotateZ(calc(6 / 6 * 360deg)) rotateX(63.435deg); }


@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.preloader-container {
  height: 100px;
  position: relative;
  width: 100px;
}
.preloader-container .preloader-svg {
  animation: spin 3s infinite linear;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.preloader-container .preloader-svg.svg-two {
  animation-duration: 2.5s;
}
.preloader-container .preloader-svg.svg-three {
  animation-duration: 2s;
}
.preloader-container .preloader-svg circle {
  stroke-dasharray: 0 15;
  stroke-linecap: round;
  stroke-width: 4;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
